# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.run/
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Environment
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
