Django>=5.0,<5.1
djangorestframework>=3.14
django-environ>=0.11
ldap3>=2.9
cryptography>=42.0
Pillow>=10.0
celery>=5.3
redis>=5.0,<6.0
channels>=4.1
channels-redis>=4.2
daphne>=4.1
mysqlclient>=2.2
pycdlib>=1.14
PyYAML>=6.0
watchfiles>=0.24
requests>=2.32
beautifulsoup4>=4.12
libvirt-python>=10.0
